@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var k = 1;
}
@model IEnumerable<DTO_QuanLiTour.DTO_TourAll>

@*<ul>
@foreach (var item in ViewData["chuongtrinh"] as List<DTO_QuanLiTour.DTO_ChuongTrinhTour>)
{
    <li>
        @item.TENCHUONGTRINH
    </li>
}
</ul>*@
@*@foreach (var item in ViewData["chitiet"] as List<DAL_QuanLiTour.CHITIETCHUONGTRINH>)
{
    <li>
        @item.MADIADIEM
    </li>
}
</ul>
</ul>
@foreach (var item in ViewData["diadiem"] as List<DAL_QuanLiTour.DIADIEMDULICH>)
{
    <li>
        @item.TENDIADIEM
    </li>
}
</ul>*@
@foreach (var item in ViewData["a"] as List<DTO_QuanLiTour.DTO_TourAll>)
{
<div style="margin-left : 10%; margin-right : 5%">
<table>
    
    <tr style="padding : 30px">

        <td style="padding : 30px">
            <div>
                <img class="gx-rounded-lg" alt="..." src="~/Themes/images/@item.TENHINH" style="width : 700px" />
            </div>
        </td>
        <td>
            
            <div class="">
                <div style="font-size : 20px; color : red">@item.TenTour</div>
                        <div class="ais-RatingMenu-link pad-bot ro">
                            <div>
                                <p class="rate ico">
                                    <i class="icon-star pad-rig-del"></i>
                                    <i class="icon-star pad-rig-del"></i>
                                    <i class="icon-star pad-rig-del"></i>
                                    <i class="icon-star pad-rig-del"></i>
                                    <i class="icon-star-o icon-star ico pad-rig-del" ></i>
                                </p>
                            </div>
                            <div class="ro">
                                <span class="rat rev">4.61/5 trong 368 Đánh giá</span>
                            </div>
                        </div>
                        

                        <div class="pad-bot-del ">
                            <div style={{ paddingTop: "20px" }}>
                                <div>
                                    <div class="ro">
                                        <div class="pad-r">Khởi hành:<span style={{ paddingLeft: "40px" }}>     12/09/2019</span></div>
                                    </div>
                                    <div>Thời gian:<span style={{ paddingLeft: "48px" }}>     6 ngày</span></div>
                                    <div>Nơi khởi hành:<span style={{ paddingLeft: "18px" }}>     TP Hồ Chí Minh</span></div>
                                </div>
                            </div>
                        </div>

                        <div class="pad-bot-del">
                            <div class="pad-bot-del" style={{ paddingTop: "20px" }}>
                                <div class="">
                                    <div>
                                        <div>Giá:<span class="price" style={{ paddingLeft: "87px" }}>@item.GIA đ</span></div>
                                        <div>Số chỗ nhận:<span class="seat" style={{ paddingLeft: "29px" }}>3</span></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="but-book btn-dat">
                                        <a href="/booking">
                                            <button type="button" class="btn btn-danger">Đặt ngay</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pad-bot-del">
                            <div class="pad-bot-del" style={{ paddingTop: "20px" }}>
                                <div>
                                    <div>
                                        <div class="te">Giá ưu đãi  khi đăng ký & thanh toán trực tuyến</div>
                                        <div>Giá:<span class="price" style={{ paddingLeft: "87px" }}>@item.GIA đ -10%</span></div>
                                        <div>Số chỗ nhận:<span class="seat" style={{ paddingLeft: "29px" }}>3</span></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="but-book btn-dat">
                                        <a>
                                            <button type="button" class="btn btn-danger">Đặt ngay</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td style="padding : 30px">
              
                <div id="exTab1" class="container">	
                    <ul  class="nav nav-pills">
			            <li class="active">
                            <a  href="#1a" data-toggle="tab">Chương trình tour</a>
			            </li>
			            <li>
                            <a href="#2a" data-toggle="tab">Chi tiết tour</a>
			            </li>
			            <li>
                            <a href="#3a" data-toggle="tab">Liên hệ</a>
			            </li>
  		                <li>
                              <a href="#4a" data-toggle="tab"></a>
			            </li>
		            </ul>

			<div class="tab-content clearfix">
			    <div class="tab-pane active" id="1a">
                    <div class="ant-tabs-content ant-tabs-content-animated ant-tabs-left-content" style="margin-top: 0%;">
                        <div role="tabpanel" aria-hidden="false" class="ant-tabs-tabpane ant-tabs-tabpane-active">
                            <div tabindex="0" role="presentation" style="width: 0px; height: 0px; overflow: hidden; position: absolute;"></div>
                            <div><div span="24" class="ant-row pad-bot-del tieudechinh">CHƯƠNG TRÌNH TOUR</div>
                                
                                @foreach (var itemCT in ViewData["chuongtrinh"] as List<DTO_QuanLiTour.DTO_ChuongTrinhTour>)
                                {
                                                                      
                                        <div class="ant-row pad-bot-del padd-bot">
                                            <div class="stt col"> Ngày @k</div>
                                                <div class="ant-col bor-right ant-col-xs-24 ant-col-md-3">
                                                    <div>11-10-2019</div>
                                                </div>
                                                <div class="ant-col ant-col-xs-24 ant-col-md-21">
                                                    <div class="ro">
                                                        <i aria-label="icon: environment" class="anticon anticon-environment ico">
                                                        <svg viewBox="64 64 896 896" class="" data-icon="environment" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                                            <path d="M854.6 289.1a362.49 362.49 0 0 0-79.9-115.7 370.83 370.83 0 0 0-118.2-77.8C610.7 76.6 562.1 67 512 67c-50.1 0-98.7 9.6-144.5 28.5-44.3 18.3-84 44.5-118.2 77.8A363.6 363.6 0 0 0 169.4 289c-19.5 45-29.4 92.8-29.4 142 0 70.6 16.9 140.9 50.1 208.7 26.7 54.5 64 107.6 111 158.1 80.3 86.2 164.5 138.9 188.4 153a43.9 43.9 0 0 0 22.4 6.1c7.8 0 15.5-2 22.4-6.1 23.9-14.1 108.1-66.8 188.4-153 47-50.4 84.3-103.6 111-158.1C867.1 572 884 501.8 884 431.1c0-49.2-9.9-97-29.4-142zM512 880.2c-65.9-41.9-300-207.8-300-449.1 0-77.9 31.1-151.1 87.6-206.3C356.3 169.5 431.7 139 512 139s155.7 30.5 212.4 85.9C780.9 280 812 353.2 812 431.1c0 241.3-234.1 407.2-300 449.1zm0-617.2c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm79.2 255.2A111.6 111.6 0 0 1 512 551c-29.9 0-58-11.7-79.2-32.8A111.6 111.6 0 0 1 400 439c0-29.9 11.7-58 32.8-79.2C454 338.6 482.1 327 512 327c29.9 0 58 11.6 79.2 32.8C612.4 381 624 409.1 624 439c0 29.9-11.6 58-32.8 79.2z"></path>
                                                        </svg></i>
                                                        <p class="tieude" style="padding-left : 10px">@itemCT.TENCHUONGTRINH</p>
                                                    </div>
                                                    @foreach (var itemCTCT in ViewData["chitiet"] as List<DAL_QuanLiTour.CHITIETCHUONGTRINH>){
                                                        if (itemCT.MACHUONGTRINH.Equals(itemCTCT.MACHUONGTRINH))
                                                        {
                                                            foreach (var itemDD in ViewData["diadiem"] as List<DAL_QuanLiTour.DIADIEMDULICH>)
                                                            {
                                                                if (itemDD.MADIADIEM.Equals(itemCTCT.MADIADIEM))
                                                                {
                                                                    <div>
                                                                         <div style="float : left; color : red; font-size : 20px;">@itemDD.TENDIADIEM</div>
                                                                        <div style="padding-left : 300px">@itemDD.CHITIET</div>
                                                                    </div>
                                                                   
                                                                }
                                                            }
                                                            
                                                        }
                                                    }  
                                                </div>
                                               </div>
                                    k++;
                                }

                                </div>
                            </div>
                        </div>
                    </div>
				<div class="tab-pane" id="2a">
                    <div><div span="24" class="ant-row pad-bot-del tieudechinh">LƯU Ý</div><div class="ant-row"><div class="ant-col ant-col-24"><div><div class=""><div style="display: flexbox;"><div class="pad-icon-detail inf">Lộ trình tham khảo, cự ly khoảng:</div></div></div><div class="table-vanchuyen"><div><div class="ro"><p class="inf">- Ngày 01 (301 km):</p> SB Nội Bài - TP Lào Cai (262 km) – Sa Pa (39 km)</div><div class="ro"><p class="inf">- Ngày 02 (47 km):</p> Sa Pa – Fansipan Legend (5 km) – TP Lào Cai (42 km)</div><div class="ro"><p class="inf">- Ngày 03 (300 km):</p> Tp Lào Cai – Hà Nội (300 km)</div><div class="ro"><p class="inf">- Ngày 04 (197 km):</p> Hà Nội – Yên Tử (141 km) - TP Hạ Long (56 km)</div><div class="ro"><p class="inf">- Ngày 05 (214 km):</p> TP Hạ Long – Chùa Bái Đính (192 km) – Ninh Bình (22 km)</div><div class="pad-bott ro"><p class="inf">- Ngày 06 (138 km):</p> Ninh Bình – KDL Tràng An (10 km) – SB Nội Bài  (128 km)</div></div></div></div></div><div class="ant-col ant-col-24"><div><div class=""><div style="display: flexbox;"><div class="pad-icon-detail ">THÔNG TIN CẦN LƯU Ý:</div></div></div><div class="table-vanchuyen"><div><div class="inf">Giá tour bao gồm:</div><div>- Xe tham quan (15, 25, 35, 45 chỗ tùy theo số lượng khách) theo chương trình</div><div>- Vé máy bay khứ hồi Sài Gòn – Hà Nội – Sài Gòn </div><div>- Khách sạn theo tiêu chuẩn 2 khách/phòng hoặc 3 khách/phòng </div><div>+  Hà Nội 3 sao: Delight, Ha Noi Emotion, Hồng Hà…. (do đặc điểm vị trí phòng khách sạn Hà Nội có diện tích nhỏ)</div><div>+ Hạ Long 3 sao: Kenny, Sea Star, New star, Sen Vàng….</div><div>+ Lào Cai 4 sao: Mường Thanh Lào Cai, Sapaly....</div><div>+ Sapa 3 sao: Golden Sa Pa , Sunny Moutain, Sapa Charm,…</div><div>+ Ninh Bình 4 sao: Hoàng Sơn, Vissai….</div><div>- Vé tham quan theo chương trình (xe điện Yên Tử, Bái Đính)</div><div>- Các bữa ăn theo chương trình : 05 bữa sáng buffet + 11 bữa chính từ 120.000 – 140.000vnd/ khách  </div><div>- Hướng dẫn viên tiếng Việt nối tuyến</div><div>- Bảo hiểm du lịch với mức bồi thường cao nhất 120.000.000đ/vụ</div><div>- Nón Travel + Nước suối + Khăn lạnh </div><div class="pad-bott">- Thuế VAT </div></div></div></div></div><div class="ant-col ant-col-24"><div><div class=""><div style="display: flexbox;"><div class="pad-icon-detail">Giá tour không bao gồm:</div></div></div><div class="table-vanchuyen"><div><div>- Chi phí cá nhân: ăn uống ngoài chương trình, giặt ủi, chi phí hủy đổi hành trình và nâng hạng chuyến bay, hành lý quá cước, phụ thu phòng đơn,…</div><div class="pad-bott">- Chi phí tham quan ngoài chương trình: Cáp Treo Yên Tử và Fansipan, Múa Rối Nước Hoa Sen Hạ Long., Sun World Ha Long Park,….</div></div></div></div></div><div class="ant-col ant-col-24"><div><div class=""><div style="display: flexbox;"><div class="pad-icon-detail">Giá vé trẻ em: </div></div></div><div class="table-vanchuyen"><div><div>-   Trẻ em dưới 5 tuổi:  không thu phí dịch vụ, bố mẹ tự lo cho bé và thanh toán các chi phí phát sinh (đối với các dịch vụ tính phí theo chiều cao…). Hai người lớn chỉ được kèm 1 trẻ em dưới 5 tuổi, trẻ em thứ 2 sẽ đóng phí theo qui định dành cho độ tuổi từ 5 đến dưới 12 tuổi và phụ thu phòng đơn. Vé máy bay, tàu hỏa, phương tiện vận chuyển công cộng mua vé theo qui định của các đơn vị vận chuyển.</div><div>- Trẻ em từ 5 tuổi đến dưới 12 tuổi: 75% giá tour người lớn (không có chế độ giường riêng). Hai người lớn chỉ   được kèm 1 trẻ em từ 5 - dưới 12 tuổi, em thứ hai trở lên phải mua 1 suất giường đơn.</div><div class="pad-bott">- Trẻ em từ 12 tuổi trở lên: mua một vé như người lớn</div></div></div></div></div><div class="ant-col ant-col-24"><div><div class=""><div style="display: flexbox;"><div class="pad-icon-detail">Điều kiện thanh toán:</div></div></div><div class="table-vanchuyen"><div><div>- Khi đăng ký đặt cọc 50% số tiền tour</div><div class="pad-bott">- Số tiền còn lại thanh toán hết trước ngày khởi hành 7-10 ngày (áp dụng tour ngày thường), trước ngày khởi hành 20-25 ngày (áp dụng tour lễ tết) </div></div></div></div></div><div class="ant-col ant-col-24"><div><div class=""><div style="display: flexbox;"><div class="pad-icon-detail">Các điều kiện khi đăng ký tour: </div></div></div><div class="table-vanchuyen"><div><div>- Đối với Khách Quốc tịch Việt Nam: Khi đi tour Trẻ em từ 14 tuổi trở lên và người lớn cần đem theo CMND/Passport (Hộ chiếu) bản chính còn hạn sử dụng, hình ảnh rõ (CMND có thời hạn sử dụng không quá 15 năm, tính từ ngày cấp)/ Giấy khai sinh bản chính (trẻ em dưới 14 tuổi), trẻ em trên 14 tuổi bắt buộc phải có CMND hoặc Passport làm thủ tục lên máy bay.  </div><div>- Đối với khách Nước ngoài/Việt Kiều: Khi đi tour phải mang theo đầy đủ Passport (Hộ Chiếu) bản chính còn hạn sử dụng hoặc thẻ xanh kèm theo Visa và giấy tái xuất nhập Việt Nam làm thủ tục lên máy bay.  </div><div>- Khi đăng ký tour Quý khách vui lòng mang theo CMND/Passport bản chính hoặc cung cấp tên chính xác đầy đủ, đúng từng ký tự trên CMND/ Passport (Hộ chiếu)/Giấy khai sinh (trẻ em dưới 14 tuổi) theo thứ tự: Họ/tên lót/tên. Quý khách khi đăng ký cung cấp tên theo giấy tờ tùy thân nào, khi đi tour phải mang theo giấy tờ tùy thân đó theo qui định hãng hàng không </div><div>- Trong trường hợp Quý khách cung cấp tên sai, đến trễ giờ bay, vui lòng chịu phí đổi vé hoặc mua lại vé mới theo quy định của Hãng Hàng Không (nếu chuyến bay còn chỗ). </div><div>- Trong trường hợp Quý khách bay hãng hàng không Vietjet và Jetstar, vé không hoàn, không dời, đổi, huỷ, sai tên mất 100% theo qui định hãng hàng không. Giá vé máy bay trẻ em bằng 100% người lớn. </div><div>- Trong trường hợp Quý khách bay hãng hàng không Việt Nam. Vé máy bay khuyến mãi không hoàn, không đổi, hủy, sai tên mất 100% theo qui định hãng hàng không. Vé Vietnam Airlines  không bay chặng đi, tự động hủy chặng về. Giá vé máy bay trẻ em bằng 90% vé người lớn.</div><div>- Giá vé, giờ bay có thể thay đổi theo Hãng Hàng Không (Vietnam Airlines, Vietjet, Jetstar) không thể báo trước. </div><div>- Do các chuyến bay phụ thuộc vào các hãng Hàng Không nên trong một số trường hợp giờ bay có thể thay đổi mà không được báo trước. Tùy vào tình hình thực tế, Chương trình và điểm tham quan có thể linh động thay đổi thứ tự các điểm phù hợp điều kiện giờ bay và thời tiết thực tế. Vietravel sẽ không chịu trách nhiệm bảo đảm các điểm tham quan trong trường hợp:</div><div>+ Xảy ra thiên tai: bão lụt, hạn hán, động đất…</div><div>+ Sự cố về an ninh: khủng bố, biểu tình</div><div>+ Sự cố về hàng không: trục trặc kỹ thuật, an ninh, dời, hủy, hoãn chuyến bay.</div><div>- Nếu những trường hợp trên xảy ra, Vietravel sẽ xem xét để hoàn trả chi phí không tham quan cho khách trong điều kiện có thể (sau khi đã trừ lại các dịch vụ đã thực hiện….và không chịu trách nhiệm bồi thường thêm bất kỳ chi phí nào khác).</div><div>- Sau khi Quý khách đã làm thủ tục Hàng Không và nhận thẻ lên máy bay, đề nghị Quý khách giữ cẩn thận và lưu ý lên máy bay đúng giờ. Vietravel không chịu trách nhiệm trong trường hợp khách làm mất thẻ lên máy bay và không lên máy bay đúng theo giờ quy định của Hàng Không.</div><div>- Giờ nhận phòng khách sạn: sau 14:00 giờ và trả phòng trước 12:00 giờ   </div><div>- Phòng khách sạn/resort có thể xảy ra trường hợp phòng không gần nhau, không cùng tầng, loại phòng một giường đôi hoặc hai giường đơn không theo yêu cầu, tùy tình hình thực tế từng khách sạn/Resort. </div><div>- Trường hợp quý khách tham gia tour 01 khách, bắt buộc đóng thêm tiền phụ thu phòng đơn để ở riêng 01 phòng. Trường hợp trong đoàn cũng có khách đi 01 mình, cùng giới tính và có nhu cầu muốn ghép cùng phòng với quý khách thì Vietravel sẽ hoàn lại tiền phụ thu phòng đơn cho quý khách.</div><div>- Trường hợp quý khách đi nhóm 03 khách, Vietravel sẽ cung cấp 01 phòng dành cho 03 khách là 01 giường lớn 1m6 và 01 giường phụ di động từ 0.8 - 1,2m (extrabed) hoặc 01 nệm đơn tùy từng khách sạn/Resort. Trong trường  quý khách có nhu cầu ở riêng, vui lòng đóng thêm tiền phụ thu phòng đơn theo qui định </div><div>- Thông tin hành lý khi đi tour : Xách tay dưới 7kg/1khách - Kích thước không quá: 56cm x 36cm x 23 cm, chất lỏng với thể tích không quá 100ml. Ký gửi: 20kg/1khách - Kích thước không quá: 119cm x 119cm x 81cm. Các vật phẩm không được chấp nhận dưới dạng hành lý ký gởi hoặc vận chuyển trong hành lý theo qui định hàng không</div><div>- Thông tin tập trung : Tại sân bay Tân Sơn Nhất, Ga đi trong nước, trước giờ bay 2 tiếng (áp dụng ngày thường), trước 2 tiếng 30 phút (áp dụng lễ tết), tại cột số 4 Trong trường hợp bay hãng hàng không Vietjet, tại cột 10 trong trường hợp bay hãng hàng không Vietnam, Jetstar. </div><div>- Quý khách dưới 18 tuổi khi đi tour phải có Bố Mẹ hoặc người thân trên 18 tuổi đi cùng. Trường hợp đi một mình phải được Bố Mẹ ủy quyền (có xác nhận của chính quyền địa phương) cho Vietravel </div><div>- Khách nữ từ 55 tuổi trở lên và khách nam từ 60 trở lên: nên có người thân dưới 55 tuổi (đầy đủ sức khỏe) đi cùng. Riêng khách từ 70 tuổi trở lên: Bắt buộc phải có người thân dưới 55 tuổi (đầy đủ sức khỏe) đi cùng Vì lý do an toàn Quý khách hạn chế và không nhận khách từ 80 tuổi trở lên. Khách trên 80 tuổi không có chế độ bảo hiểm.</div><div>- Quý khách đang mang thai vui lòng báo cho nhân viên bán tour ngay tại thời điểm đăng ký. Lưu ý phải có ý kiến của bác sĩ trước khi đi tour. Cam kết tự chịu trách nhiệm về sức khỏe của mình và thai nhi trong suốt thời gian tham gia chương trình du lịch. </div><div>- Quý khách có nhu cầu cần xuất hóa đơn vui lòng cung cấp thông tin xuất hóa đơn cho nhân viên bán tour  khi ngay khi đăng ký, không nhận xuất hóa đơn sau khi tour đã kết thúc. </div><div class="pad-bott">- Quý khách vui lòng tham khảo kỹ các Điều Kiện Bán Vé trước khi đăng ký chuyến du lịch. Trong trường hợp không trực tiếp đăng ký, nhờ người thân đăng ký hộ vui lòng cập nhật thông tin từ người đăng ký.</div></div></div></div></div><div class="ant-col ant-col-24"><div><div class=""><div style="display: flexbox;"><div class="pad-icon-detail">Các điều kiện chuyển và hủy tour </div></div></div><div class="table-vanchuyen"><div><div>Lưu ý khi chuyển/huỷ tour:</div><div class="pad-bott">- Sau khi đóng tiền, nếu Quý khách muốn chuyển/huỷ tour xin vui lòng mang Vé Du Lịch đến văn phòng đăng ký tour để làm thủ tục chuyển/huỷ tour và chịu mất phí theo quy định của Vietravel. Không giải quyết các trường hợp liên hệ chuyển/huỷ tour qua điện thoại.</div></div></div></div></div><div class="ant-col ant-col-24"><div><div class=""><div style="display: flexbox;"><div class="pad-icon-detail">Các điều kiện huỷ tour: (đối với ngày thường):</div></div></div><div class="table-vanchuyen"><div><div>- Được chuyển sang các tuyến du lịch khác trước ngày khởi hành 20 ngày: Không mất chi phí.</div><div>- Nếu hủy hoặc chuyển sang các chuyến du lịch khác từ 15-19 ngày trước ngày khởi hành: Chi phí hủy tour: 50% tiền cọc tour.</div><div>- Nếu hủy hoặc chuyển sang các chuyến du lịch khác từ 12-14 ngày trước ngày khởi hành: Chi phí hủy tour: 100% tiền cọc tour.</div><div>- Nếu hủy chuyến du lịch trong vòng từ 08-11 ngày trước ngày khởi hành: Chi phí hủy tour: 50% trên giá tour du lịch.</div><div>- Nếu hủy chuyến du lịch trong vòng từ 05-07 ngày trước ngày khởi hành: Chi phí hủy tour: 70% trên giá tour du lịch.</div><div>- Nếu hủy chuyến du lịch trong vòng từ 02-04 ngày trước ngày khởi hành: Chi phí hủy tour: 90% trên giá vé du lịch.</div><div class="pad-bott">- Nếu hủy chuyến du lịch trong vòng 1 ngày trước ngày khởi hành : Chi phí hủy tour: 100% trên giá vé du lịch.</div></div></div></div></div><div class="ant-col ant-col-24"><div><div class=""><div style="display: flexbox;"><div class="pad-icon-detail">Các điều kiện huỷ tour: (đối với ngày lễ, Tết. Áp dụng cho các tour có thời gian diễn ra rơi vào một trong các ngày Lễ, Tết theo qui định) </div></div></div><div class="table-vanchuyen"><div><div>- Được chuyển sang các tuyến du lịch khác trước ngày khởi hành 30 ngày: Không mất chi phí.</div><div>- Nếu hủy hoặc chuyển sang các chuyến du lịch khác từ 25-29 ngày trước ngày khởi hành: Chi phí hủy tour: 50% tiền cọc tour.</div><div>- Nếu hủy hoặc chuyển sang các chuyến du lịch khác từ 20-24 ngày trước ngày khởi hành: Chi phí hủy tour: 100% tiền cọc tour.</div><div>- Nếu hủy chuyến du lịch trong vòng từ 17-19 ngày trước ngày khởi hành: Chi phí hủy tour: 50% trên giá tour du lịch.</div><div>- Nếu hủy chuyến du lịch trong vòng từ 08-16 ngày trước ngày khởi hành: Chi phí hủy tour: 70% trên giá tour du lịch.</div><div>- Nếu hủy chuyến du lịch trong vòng từ 02-07 ngày trước ngày khởi hành: Chi phí hủy tour: 90% trên giá vé du lịch.</div><div class="pad-bott">- Nếu hủy chuyến du lịch trong vòng 1 ngày trước ngày khởi hành : Chi phí hủy tour: 100% trên giá vé du lịch.</div></div></div></div></div><div class="ant-col ant-col-24"><div><div class=""><div style="display: flexbox;"><div class="pad-icon-detail">Mọi chi tiết vui lòng liên hệ</div></div></div><div class="table-vanchuyen"><div class="kt gx-border-bottom"><div>02 Pasteur, phường 6, quận 3, TP.HCM</div><div>Email: Travel@gmail.com</div><div class="pad-bott">KÍNH CHÚC QUÝ KHÁCH MỘT CHUYẾN DU LỊCH VUI VẺ</div></div></div></div></div></div></div>
                 </div>
                <div class="tab-pane" id="3a">
                    <h3>Liên hệ nhà cung cấp</h3>
				</div>
                <div class="tab-pane" id="4a">
                        <h3>We use css to change the background color of the content to be equal to the tab</h3>
				</div>
			</div>
        </td>
    </tr>
</table>
    </div>
}